<h1> Welcome, <%=current_user.username%></h1>


<a href ="/lifts/new">Add new lift data</a>

<h2> Here's a list of all your previous lifts</h2>


<%Lift.all.each do |lift|%>
    <% if lift.user_id == current_user.id %>
       <h3> <%= " ID.#{lift.id}, #{lift.name}, #{lift.weight},for #{lift.repetitions}" %></h3>
            
       
        Your next lift will be (round to nearest 5lbs for weight projections)
        <%if lift.repetitions > 25 %>
        <%=lift.weight * 1.05%> lbs for as many repetitions as you can do.
        <%elsif  lift.repetitions <= 25 && lift.repetitions > 12 %>
        <%=lift.weight * 1.1%> lbs for as many repetitions as you can do.
        <%elsif lift.repetitions == 12 %>
        <%=lift.weight * 1.07%> for 10 repetitions.
        <%elsif lift.repetitions == 10 %>
        <%= lift.weight * 1.06 %> for 8 repetitions. 
        <%elsif lift.repetitions <= 8 %>
        (After you get to this point, restart with the first weight you did and try to break your old repetition record, then restart the cycle!)



        
        <%end%>
        <%end %>
        <%end %>