<%if logged_in? && @lift.user_id == current_user.id%>
<h1>Edit a Lift</h1>

<% if flash[:message]%>
    <h2> <%=flash[:message]%></h2>
    <%end%>

<form action="/lifts/<%= @lift.id %>" method="post" >
	<input id="hidden" type="hidden" name="_method" value="patch"/>

	<label>Current lift: </label>
    
    <input type="text" value="<%= @lift.name %>"name="name"><br>
    Weight:
    <input type="number" value="<%= @lift.weight%>" name="weight"> <br>
    Repetitions:
    <input type="number" value="<%= @lift.repetitions%>" name="repetitions"> 
	<input type="submit" value="Make Changes" id='submit'/>

</form>
<%else %>

    <h1> You aren't authorized to edit this information </h1>


    
    <%end%>
