<%if logged_in? && @lift.user_id == current_user.id%>
<h1> Your Lift</h1>


<h2><%= @lift.name %>, <%= @lift.weight.to_s %>, for <%= @lift.repetitions.to_s %> repetitions </h2>



<a href ="/lifts/<%=@lift.id %>/edit">Edit</a>

<form action="/lifts/<%= @lift.id %>" method="post" >
    <input id="hidden" type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete" />
    <%else %>

    <h1> You aren't authorized to edit this information </h1>


    
    <%end%>




